<header>
    <a href="#" class="logo"> TAWET CONSULTING</a>

    <ul class="nav-list" [ngClass]="{'open': isMenuOpen}">
        <li><a href="#"> Home</a></li>
        <li><a href="#"> About</a></li>
        <li><a href="#"> Services</a></li>
        <li><a href="#"> Projects</a></li>
        <li><a href="#"> Contact</a></li>
    </ul>

    <div class="bx bx-menu" id="menu-icon" (click)="toggleMenu()" [ngClass]="{'bxs-x-square': isMenuOpen}"></div>
</header>

<section class="tawet-hero">
    <div class="tawet-hero-text">
        <h1>Mastering Risk and Finance</h1>
        <h5 class="">Go beyond boundaries</h5>

        <p>Unlock the power of interdisciplinary expertise to conquer evolving risk landscapes and propel your business towards unparalleled growth.</p>
        <a href="#">Read more</a>
        <a href="#" class="ctaa">CONSULT US</a>
    </div>
    <!-- <div class="tawet-hero-image">
        <img src="../assets/images/backgrounds/welcome/insight_unleshed.jpg">
    </div> -->
</section>

<section class="tawet-about">
    <div class="tawet-about-image">
        <img src="../assets/images/logo/about.png">
    </div>
    <div class="tawet-about-text">
        <h1>Who we are</h1>
        <h5 class="">ABOUT OUR BUSINESS</h5>
        <p>Founded in 2024, we specialize in risk, finance, and regulation management, we provide tailored solutions to optimize performance and ensure compliance. Trust our expertise to navigate complexities and achieve your goals with confidence</p>
        <a href="#">Read more</a>
    </div>
</section>
<section class="tawet-services-section">
    <div class="tawet-services-header">
        <h1>SPECIALIZATION</h1>
    </div>
    <div class="tawet-services-sub-header">
        <h1>OUR SERVICES</h1>
    </div>

    <div class="tawet-services-body">
        <div class="tawet-services-card">
            <img src="../assets/images/services/finance.png" alt="Service 1" class="tawet-services-image">
            <h1 class="tawet-services-card-title">Risk Finance and Regulations</h1>
            <p class="tawet-card-body">
                Technological advancements and human unpredictability complicate risk-return modeling; our expert team, all master's degree holders in their fields, offers solutions. </p>
            <a href="" class="tawet-card-actions">Find out more</a>
        </div>
    </div>
</section>