<header>
    <a href="#" class="logo">
        <img src="./../assets/images/logo/tawet-logo.jpg" alt="">
    </a>

    <ul class="nav-list" [ngClass]="{'open': isMenuOpen}">
        <li><a href="#"> Home</a></li>
        <li><a href="#"> About</a></li>
        <li><a href="#"> Services</a></li>
        <li><a href="#"> Industries</a></li>
        <li><a href="#"> Contact</a></li>
    </ul>

    <div class="bx bx-menu" id="menu-icon" (click)="toggleMenu()" [ngClass]="{'bxs-x-square': isMenuOpen}"></div>
</header>

<div class="tawet-hero-container">
    <swiper [config]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide tawet-hero" *ngFor="let slide of slides">
                <div class="tawet-hero-text">
                    <h1>{{slide.subtitle}}</h1>
                    <h5 class="">{{slide.title}}</h5>

                    <p>{{slide.text}}</p>
                    <a href="#">CONSULT US</a>
                </div>
                <div class="tawet-hero-image">
                    <img src="{{slide.image}}">
                </div>
            </div>
        </div>
    </swiper>
</div>

<section class="tawet-about">
    <div class="tawet-about-image">
        <img src="../assets/images/logo/about.png">
    </div>
    <div class="tawet-about-text">
        <h1>Who we are</h1>
        <h5 class="">ABOUT OUR BUSINESS</h5>
        <p>Founded in 2024, we specialize in risk, finance, and regulation management, we provide tailored solutions to optimize performance and ensure compliance. Trust our expertise to navigate complexities and achieve your goals with confidence</p>
        <a href="#">Read more</a>
    </div>
</section>
<section class="tawet-services-section">
    <div class="tawet-services-header">
        <h1>SPECIALIZATION</h1>
    </div>
    <div class="tawet-services-sub-header">
        <h1>OUR SERVICES</h1>
    </div>

    <div class="tawet-services-body">
        <div class="tawet-services-card">
            <img src="../assets/images/services/risk-finance.jpg" alt="Service 1" class="tawet-services-image">
            <h1 class="tawet-services-card-title">Risk Finance and Regulations</h1>
            <p class="tawet-card-body">
                Complex risk-return modeling? Our expert team, all master's degree holders, simplifies with tailored solutions </p>
            <a href="" class="tawet-card-actions">Read more</a>
        </div>
        <div class="tawet-services-card">
            <img src="../assets/images/services/business.jpg" alt="Service 1" class="tawet-services-image">
            <h1 class="tawet-services-card-title"> Data Analytics and Business Intelligence</h1>
            <p class="tawet-card-body">
                We're experts in data analytics and business intelligence, providing tailored insights for strategic decision-making and operational optimization </p>
            <a href="" class="tawet-card-actions">Read more</a>
        </div>

        <div class="tawet-services-card">
            <img src="../assets/images/services/reporting.jpg" alt="Service 1" class="tawet-services-image">
            <h1 class="tawet-services-card-title">Financial Analysis and Reporting</h1>
            <p class="tawet-card-body">
                We offer customized financial analysis and reporting, involving your team to navigate future technological challenges. </p>
            <a href="" class="tawet-card-actions">Read more</a>
        </div>
    </div>
</section>

<section class="tawet-industries-section">
    <div class="tawet-industry-details">
        <h2>
            Industries
        </h2>
        <h1>
            WHO WE WORK WITH
        </h1>
        <p>
            At Tawet Consulting, we're not just consultants, we're catalysts for transformation. From healthcare to technology, finance to innovation, we're here to elevate your journey. Join a network of trailblazers where expertise meets innovation.
        </p>

        <a href="" class="tawet-industry-actions">Work with us</a>
    </div>
    <div class="tawet-industry-images">
        <div class="tawet-industry-card">
            <img src="./../assets/images/industries/financial-services.png" alt="Card Image" class="tawet-industry-card-image">
            <h2 class="tawet-industry-card-title">Financial services</h2>
        </div>
    </div>
</section>

<div class="tawet-footer">
    <div class="tawet-company-details">
        <div class="company">
            Tawet Consulting
        </div>

        <div class="socials">
            <ul>
                <li><a href="#"><i class='bx bxl-facebook-square'></i></a></li>
                <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                <li><a href="#"><i class='bx bxl-linkedin-square' ></i></a></li>
                <li><a href="#"><i class='bx bxl-instagram-alt' ></i></a></li>
            </ul>
        </div>
    </div>
    <div class="tawet-copywrite-links">
        <div class="copywrite">
            &copy; 2024. Tawet Consulting. Privacy policy. All rights reserved.
        </div>
        <div class="footer-links">
            <ul class="footer-nav-list">
                <li><a href="#"> Home</a></li>
                <li><a href="#"> About</a></li>
                <li><a href="#"> Services</a></li>
                <li><a href="#"> Industries</a></li>
                <li><a href="#"> Contact</a></li>
            </ul>
        </div>
    </div>
</div>