@import url('./assets/css/base.css');
@import url('fonts.css');
@import url('./assets/css/header.css');
@import url('./assets/css/hero.css');

/* About section */

.tawet-about {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    margin-block: 1rem;
}

.tawet-about-image img {
    width: 100%;
    border-radius: 2%;
    z-index: -1;
}

.tawet-about-text {
    animation: slideInLeft 3s ease-in-out forwards;
    transform: translateX(-100);
    opacity: 1;
}

.tawet-about-text h1 {
    font-size: 1.5rem;
    font-weight: 400;
    z-index: 500;
    color: var(--color-white-smoke);
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-decoration: overline;
}

.tawet-about-text h5 {
    font-size: 2.5rem;
    font-weight: 700;
    z-index: 500;
    font-family: "Permanent Marker", cursive;
    color: var(--color-tangerine);
    margin-bottom: 1rem;
}

.tawet-about-text p {
    color: var(--color-thistle);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9;
    margin-bottom: 1rem;
}

.tawet-about-text a {
    display: inline-block;
    margin-inline-end: 1rem;
    margin-block: 2rem;
    color: var(--color-on-primary);
    padding: 12px 30px;
    line-height: 1.1;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 20px;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--color-linear-1) 10%, var(--color-goldenrod) 100%);
    transition: all 0.55s ease;
}

.tawet-about-text a:hover {
    background: transparent;
    border: 1px solid var(--color-on-primary);
    transform: translate(10px);
}


/* Services Section */

.tawet-services-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-block: 3rem;
}

.tawet-services-header h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-thistle);
    text-transform: uppercase;
    text-decoration: overline;
    align-self: flex-start;
}

.tawet-services-sub-header h1 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-white-smoke);
    z-index: -500;
    text-transform: uppercase;
    align-self: flex-start;
}

.tawet-services-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    transition: all .55s ease;
}

.tawet-services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 2%;
    z-index: 2000;
}

.tawet-services-image {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-size: cover;
    align-items: center;
}

.tawet-services-card-title {
    font-size: 1rem;
    font-weight: 500;
    z-index: 500;
    color: var(--color-white-smoke);
    text-transform: uppercase;
}

.tawet-card-body {
    font-size: 1rem;
    font-weight: 300;
    z-index: 500;
    line-height: 2;
    color: var(--color-thistle);
    padding-inline: 1rem;
    text-align: justify;
}

.tawet-card-actions {
    display: inline-block;
    margin-inline-end: 1rem;
    color: var(--color-on-primary);
    padding: 12px 30px;
    line-height: 1.1;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 20px;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--color-linear-1) 10%, var(--color-goldenrod) 100%);
    transition: all 0.55s ease;
}

.tawet-card-actions:hover {
    background: transparent;
    border: 1px solid var(--color-on-primary);
    transform: translate(10px);
}


/* Industries Section  */

.tawet-industries-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    margin-block: 8rem;
}

.tawet-industry-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--color-white-smoke);
    flex-basis: 45%;
}

.tawet-industry-details h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-thistle);
    text-transform: uppercase;
    text-decoration: overline;
}

.tawet-industry-details h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-white-smoke);
    text-transform: uppercase;
}

.tawet-industry-details p {
    color: var(--color-white-smoke);
    line-height: 1.8;
    font-size: 1rem;
    font-weight: 300;
}

.tawet-industry-actions {
    display: inline-block;
    margin-inline-end: 1rem;
    color: var(--color-on-primary);
    padding: 12px 30px;
    line-height: 1.1;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 20px;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--color-linear-1) 10%, var(--color-goldenrod) 100%);
    transition: all 0.55s ease;
    align-self: flex-start;
}

.tawet-industry-actions:hover {
    background: transparent;
    border: 1px solid var(--color-on-primary);
    transform: translate(10px);
}

.tawet-industry-images {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 45%;
    transform: scale(0.5);
    animation: zoomIn 3s ease-in-out forwards;
}

.tawet-industry-card img {
    width: 22rem;
    height: 22rem;
    object-fit: cover;
    border-radius: 30% 10px;
}

.tawet-industry-card-title {
    position: absolute;
    bottom: 30px;
    left: 20%;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 3000;
    text-transform: uppercase;
    color: var(--color-white-smoke);
}

.tawet-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 9%;
    padding-block: 2rem;
}

.tawet-company-details,
.tawet-copywrite-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 0.5rem;
}

.company {
    font-style: bold;
    font-size: 2rem;
    color: var(--color-white-smoke);
    font-weight: 500;
}

.socials {
    align-self: end;
}

.socials ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
}

.socials ul li a i {
    font-size: 2rem;
    color: var(--color-white-smoke);
    text-decoration: none;
}

.socials ul li a i:hover {
    z-index: 2000;
    transform: scale(1.5);
    color: var(--color-tangerine);
}

.copywrite {
    color: var(--color-thistle);
    z-index: 2000;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-nav-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer-nav-list a {
    color: var(--color-thistle);
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all .5s ease-out;
}

.footer-nav-list a:hover {
    border-bottom: 2px solid var(--color-tangerine);
}

@keyframes zoomIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoomInFadeOut {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    80% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@media (max-width: 1535px) {
    .scroll-down {
        right: 3%;
        transition: .2s;
    }
    .tawet-hero-image {
        display: flex;
    }
}

@media (max-width: 1430px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px) {
    .tawet-hero-text h5 {
        font-size: 5rem;
        margin: 0 0 30px;
    }
    .tawet-hero-text h5 {
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
    .tawet-hero-text {
        padding-top: 115px;
    }
    .tawet-hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .tawet-about {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .tawet-services-body {
        grid-template-columns: 1fr;
    }
    .tawet-about img {
        display: none;
    }
    .scroll-down {
        display: none;
    }
    .tawet-hero-text h5 {
        font-size: 4rem;
    }
}

@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }
    .nav-list {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 25vh;
        z-index: 2000;
        background: var(--color-thistle);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 10px;
        transition: all .55s ease;
        border: 2px solid blue;
    }
    .nav-list a {
        margin-left: 0px;
        display: block;
        z-index: 500000;
        margin: 7px 0px;
    }
    .nav-list.open {
        right: 0;
    }
    .tawet-hero-image {
        display: none;
    }
    .tawet-hero-text {
        flex-basis: 90%;
    }
    .tawet-hero-container {
        width: 100%;
        padding-inline: 1rem;
    }
    .tawet-hero {
        margin-top: 5vh;
    }
    .tawet-hero-text h5 {
        font-size: 2.5rem;
    }
    .tawet-industries-section,
    .tawet-footer,
    .tawet-company-details,
    .tawet-copywrite-links {
        flex-direction: column;
        gap: 1rem;
    }
    .socials {
        align-self: flex-start;
    }
}